/* General attributes */

* {
    font-family: sans-serif;
}

header {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    height: 50px;
}

/* Specific attributes */

.simon-header {
    font-weight: 800;
    text-align: center;
    color: #B32400;
    font-size: 45px;
    letter-spacing: 5px;
    text-shadow:  -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
    /* Adds a dark border for the letters inside of the header */
}

#simon-load { /* Stacking the two sections side by side horizontally */
    display: block;
    max-width: 100%;
    margin-top: 50px;
    overflow-x: hidden; /* Makes sure that the section does not overflow horizontally */
}

#simon-load .col-6 { /* Resetting bootstrap horizontal padding and margin values */
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.circular-btn-div {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.circular-btn {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 2px solid #000000;
    margin-right: 15px;
    margin-bottom: 20px;
}

.circle-off { /* Default circle background that changes as the game progresses */
    background-color: #696969;
}

.simon-display .container, .simon-user .container {
    width: 80%; /* 80% of the parent width */
    box-sizing: border-box;
    margin-top: 20px;
}

.simon-display .container {
    background-color: #000000;
    border-radius: 5px;
    border: 5px solid #B32400;
}

.simon-display .row {
    height: 105px; /* Greater height to give both containers the appearance of equal vertical height */
}

.simon-user .row {
    height: 100px;
    margin-bottom: 10px;
}

.simon-display .col-4 {
    padding-right: 0px;
    padding-left: 0px;
}

.simon-user .col-4 {
    padding: 5px;
}

.display-btn, .user-btn {
    width: 100%;
    border-radius: 5px;
}

.display-btn {
    height: 105px;
    border: none;
    background-color: inherit;
}

.user-btn {
    height: 100px;
    border: 2px solid #242625;
    color: #000000;
    font-weight: 600;
    cursor: default !important; /* Had to use !important in order to override given bootstrap parameters */
}

.hidden-keys {
    font-size: 0; /* Hides the keyboard options from the screen */
}

.user-btn-disabled-true {
    background-color: #646464;
}

#game-buttons {
    margin-top: 50px;
}

#init-game, #reset-game {
    display: block;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 15px;
    margin-right: 15px;
}

#init-game {
    background-color: #101010;
    color: #FFFFEF;
    border: 2px solid #000000;
    font-weight: 500;
}

#init-game:hover {
    background-color: #000000;
}

#reset-game {
    background-color: #B32400;
    color: #F0F0F0;
    border: 2px solid #000000;
    font-weight: 400;
}

#reset-game:hover {
    background-color: #991F00;
}

/* Styles added with javascript */

.circle-on {
    background-color: #00CC33;
}

.display-btn-highlight {
    background-color: #00BFFF;
    border: none;
}

.user-btn-disabled-false {
    background-color: #D0D0D0;
}

#user-btn-highlight {
    background-color: #3385FF;
}

/* Media queries */